{% extends 'components/base.html' %}
{% load static %}
{% block site_title %}ໜ້າຫຼັກ |{% endblock %}
{% block content %}
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: #08ffa4ff;
  color:black;
}
tr:hover {background-color: #fbff10ff;}

div {
  background-color: #d5f4e6;
}

</style>


  <!-- ສ່ວນສະແດງຊື່ສາຂາ -->
 <div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: LightSteelBlue; padding: 10px;">
   <center> ບັນຊີລາຍຊື່ຂອງນັກຮຽນທີ່ໄດ້ຮັບທືນການສຶກສາຈາກບໍລິສັດລາວວິຕ້າ
    ( Name list of Vita Scholarship for Palee School)
     </center>
  </h3>


<h4>REPORTING TO CURRICULUM VITAE (CV) <div>Credit by :somphone BOUNTHANHH </div></h4>

{% comment %} <table style="width:100%">
 <tr>
    <th>ລຳດັບ</th>
    <th>ຊື່ ແລະ ນາມສະກຸນ</th>
    <th>Name and surname</th>
    <th>ເບີໂທ (Tel)</th>
    <th>ເບີຜູ້ປົກຄອງ (Parent Tel)</th>
    <th>ໂຮງຮຽນ(School)</th>
    <th>ເມືອງ(district)</th>
    <th>ແຂວງ(Provice)</th>
    <th>ວິຊາຮຽນ(Subject)</th>
  </tr>
     {% for user in users %}
        <tr>
          <td>{{user.gender}}</td>
          <td>{{user.name}}</td>
          <td>{{user.name_eng}}</td>
          <td>{{user.tel}}</td>
          <td>{{user.email}}</td>
          <td>{{user.from_school}}</td>
          <td>{{user.districts}}</td>
          <td>{{user.province}}</td>
          <td>{{user.academic_year}}</td>
          
        </tr>
    {% endfor %}
</table> {% endcomment %}
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>ລຳດັບ</th>
                    <th>ເພດ (gender)</th>
                    <th>ຊື່ ແລະ ນາມສະກຸນ</th>
                    <th>Name and surname</th>
                    <th>ເບີໂທ (Tel)</th>
                    <th>ເບີຜູ້ປົກຄອງ (Parent Tel)</th>
                    <th>ໂຮງຮຽນ(School)</th>
                    <th>ເມືອງ(district)</th>
                    <th>ແຂວງ(Provice)</th>
                    <th>ວິຊາຮຽນ(Subject)</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                  <td><a href="{% url 'cv_detail' user.id %}">{{user.StudentID}} </a></td>
                  <td><center>{{user.gender}}</center></td>
                  <td>{{user.name}}</td>
                  <td>{{user.name_eng}}</td>
                  <td>{{user.tel}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.from_school}}</td>
                  <td>{{user.districts}}</td>
                  <td>{{user.province}}</td>
                  <td>{{user.subject}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
